/* (A) ENTIRE PAGE */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
   
  /* (B) EDITABLE TABLE */
  .editable {
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .editable th, .editable td {
    text-align: left;
    padding: 15px;
  }
  .editable tbody tr:nth-child(even) {
    background: #f2f2f2;
  }
  .editable td.edit {
    background: #f8ff88;
  }