body{
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

}
.loginbox{
    width: 320px;
    height:420px;
    background: #f1f1f1;
    color: #808080;
    top: 50%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 60px 30px;
    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding:0;
    text-align:center;
    font-size: 30px;
    padding-bottom: 40px;
}
p{
    margin:0;
    padding: 0%;
    font-weight:bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #808080;
    background: transparent;
    height: 35px;
    color: #808080;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #808080;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: red;
    color: #808080;
}
.loginbox a{
    font-size: 15px;
    color: #808080;
}
.inval{
    color: black;
    text-align: center;
    padding: 0px;
    margin: 0px;
}